<div class="contenue">
  <div class="img">
  </div>
  <div class="right-block">
    <div class="desktop-align">
      <div class="form">
        <div class="logo-desktop">
          <div class="logo-top"><img src="/assets/img/green-earth.png" alt="logo-login" /></div>
          <div class="nom-entreprise">OCTOM</div>
        </div>
        <!-- /********************** block droit **********************/ -->
        <div>
          <h2 class="titre">Nice to meet you again</h2>
        </div>
        <!-- /********************** form **********************/ -->
        <form class="form form-control" [formGroup]="authForm" (ngSubmit)="onSubmit()">
          <div>
            <div>
              <app-input cssLabel="label" css="champ" type="text" name="email"
                         label="Email or phone number" [formControl]="emailControl" [model]="auth.email" ngDefaultControl>
              </app-input>
            </div>
            <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
              <div class="wrong" *ngIf="emailControl.hasError('required')">
                Le champ est obligatoire.
              </div>
              <div class="wrong" *ngIf="emailControl.hasError('minlength')">
                Le champ doit avoir au moins 6 caractères.
              </div>
              <div class="wrong" *ngIf="emailControl.hasError('from')">
                Le champ doit être un from valide.
              </div>
            </div>
            <div>
              <app-input cssLabel="label" css="champ" type="password" name="email"
                         label="Password" [formControl]="passwordControl"  [model]="auth.password" ngDefaultControl>
              </app-input>
              </div>
            </div>
            <div *ngIf="passwordControl.invalid && (emailControl.dirty || emailControl.touched)">
              <div class="wrong" *ngIf="passwordControl.hasError('required')">
                Le champ est obligatoire.
              </div>
              <div class="wrong" *ngIf="passwordControl.hasError('minlength')">
                Le champ doit avoir au moins 6 caractères.
              </div>
            </div>
          <div class="connexion">
            <div class="check">
              <app-checkbox [label]="'remenber'" [checked]="false"></app-checkbox>
              <span class="remember">remember me</span>
            </div>
            <a routerLink="/forgot-password" class="forgot"><span>Forgot password?</span></a>
            <!-- /********************** btn **********************/ -->
          </div>
          <app-btn (clickEmitter)="onSubmit()" [css]="'btn'" [name]="'Sign in'"></app-btn>
        </form>

        <hr width="100%" color="#E5E5E5">

        <app-btn css="btn" name="Or signin width Google" id="google">
        </app-btn>

        <div class="account">
          <span class="text">Don't have an account ? <a class="signup" routerLink="/sign-up">Sign up now</a></span>
        </div>
      </div>
      <!-- /********************** logo **********************/ -->

      <div class="logo">
        <div class="logo-mobile"><img src="/assets/img/green-earth.png" alt="logo-login" /></div>
        <div class="nom-entreprise">OCTOM</div>
      </div>
      <div class="signature">
        <div class="signature-gauche">
          <img class="logo-signature" src="/assets/img/green-earth.png" alt="logo-signature">
          <a class="insta" href="">&#64;uiunicom</a>
        </div>
        <span class="dateCrea">©Perfect Login 2021</span>
      </div>
    </div>
  </div>
</div>

