<div class="w-full">
  <ul class="flex justify-center mx-3 my-5">
    <li (click)="onTagSelected('ORGANIC')" class="flex cursor-pointer flex-col group flex-grow items-center hover:bg-slate-100">
      <a class="flex flex-col items-center">
        <img src="assets/icones/icons8-germer-50.png" alt="">
        <p class="group-hover:underline	">organiques</p>
      </a>
    </li>
    <li (click)="onTagSelected('PAPER_CARDBOARD')" class="flex cursor-pointer flex-col group flex-grow items-center hover:bg-slate-100">
      <a class="flex flex-col items-center">
        <img src="assets/icones/icons8-déplacer-par-chariot-50.png" alt="">
        <p class="group-hover:underline	">papiers-cartons</p>
      </a>
    </li>
    <li (click)="onTagSelected('BATTERIES_D3E')" class="flex cursor-pointer flex-col group flex-grow items-center hover:bg-slate-100">
      <a class="flex flex-col items-center">
        <img src="assets/icones/icons8-circuit-50.png" alt="">
        <p class="group-hover:underline	">piles/D3E</p>
      </a>
    </li>
    <li (click)="onTagSelected('PLASTIC')" class="flex cursor-pointer flex-col group flex-grow items-center hover:bg-slate-100">
      <a class="flex flex-col items-center">
        <img src="assets/icones/icons8-plastique-64.png" alt="">
        <p class="group-hover:underline	">plastiques</p>
      </a>
    </li>
    <li (click)="onTagSelected('VHU')" class="flex cursor-pointer flex-col group flex-grow items-center hover:bg-slate-100">
      <a class="flex flex-col items-center">
        <img src="assets/icones/icons8-véhicule-50.png" alt="">
        <p class="group-hover:underline	">VHU</p>
      </a>
    </li>
    <li (click)="onTagSelected('GLASS')" class="flex cursor-pointer flex-col group flex-grow items-center hover:bg-slate-100">
      <a class="flex flex-col items-center">
        <img src="assets/icones/icons8-verre-50.png" alt="">
        <p class="group-hover:underline	">verre</p>
      </a>
    </li>
    <li (click)="onTagSelected('METAL')" class="flex cursor-pointer flex-col group flex-grow items-center hover:bg-slate-100">
      <a class="flex flex-col items-center">
        <img src="assets/icones/icons8-métal-50.png" alt="">
        <p class="group-hover:underline	">métal</p>
      </a>
    </li>
    <li (click)="onTagSelected('WOOD')" class="flex cursor-pointer flex-col group flex-grow items-center hover:bg-slate-100">
      <a class="flex flex-col items-center" >
        <img src="assets/icones/icons8-bois-50.png" alt="">
        <p class="group-hover:underline	">bois</p>
      </a>
    </li>
    <li (click)="onTagSelected('HAZARDOUS_WASTE')" class="flex cursor-pointer flex-col group flex-grow items-center hover:bg-slate-100">
      <a class="flex flex-col items-center">
        <img src="assets/icones/icons8-danger-50.png" alt="">
        <p class="group-hover:underline	">dangereux</p>
      </a>
    </li>
  </ul>
  <hr class="my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50"/>
  <div class="flex justify-evenly flex-wrap" *ngIf="produits$ | async as produits">
    @if (produits.length === 0) {
      <p>Il n'y à pas de produit</p>
    } @else {
      @for (produit of produits;track produit.nomProduit) {
        <a href="produit/{{ produit.nomProduit }}">
          <div class="max-w-sm rounded shadow-lg m-5">
            <img class="w-full max-h-40" src="assets/img/fake_image.png" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">{{ produit.nomProduit }}</div>
              <p class="text-gray-700 text-base">
                {{ produit.description }}
              </p>
            </div>
            <div class="px-6 pt-4 pb-2">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Ecology</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#test</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
            </div>
          </div>
        </a>
      }
    }
  </div>
</div>

