<nav class="flex items-center justify-between bg-white w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="flex items-center ">
    <img src="assets/img/green-earth.png">
    <h1 class="m-5">Green Earth</h1>
  </div>
  <div class="flex items-center">
    <ul class="flex space-x-4">
      <li><a href="index.php">Acceuil</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <div class="flex">
      <a href="index.php?page=cart"><img src="assets/img/green-earth.png"></a>
      <a href="index.php?page=login"><img src="assets/img/green-earth.png"></a>
    </div>
  </div>
</nav>
